<Project ToolsVersion="15.0">
  <!--
		This file is used to control the platforms compiled by visual studio, and 
      		allow for a faster build when testing for a single platform.
    
    		Instructions:
			1) Copy this file and remove the ".sample" name
			2) Adjust the NugetOverrideVersion property below
			3) Make sure to do a Rebuild, so that nuget restores the proper packages for the new target
	-->

  <PropertyGroup>
    <!-- 
    This property allows the override of the nuget local cache.
    Set it to the version you want to override, used in another app.
    You will see the override path in the build output.
    The packages are located under this directory: "%USERPROFILE%\.nuget\packages".
    -->
    <!--<NugetOverrideVersion>1.0.0-dev.1</NugetOverrideVersion>-->
  </PropertyGroup>
</Project>
