name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
      - release/*
      - feature/*
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main
      - release/*
      - feature/*

jobs:
  build_and_deploy_job:
    env:
      DIST_PATH: samples/Uno.Toolkit.Samples/Uno.Toolkit.Samples/bin/Release/net10.0-browserwasm/publish/wwwroot

    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Required for gitversion
          submodules: true

      - name: Setup dotnet
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: '10.0.100'

      - uses: dotnet/nbgv@f088059084cb5d872e9d1a994433ca6440c2bf72 # v0.4.2
        id: nbgv
        with:
          toolVersion: 3.6.139
          setAllVars: true

      - run: |
          # Ensure uno.check is available before running validation
          if ! dotnet tool update --global uno.check; then
            dotnet tool install --global uno.check
          fi

          echo "$HOME/.dotnet/tools" >> "$GITHUB_PATH"  
              
          uno-check -v --ci --non-interactive --fix \
          --skip xcode --skip gtk3 --skip vswin --skip vswinworkloads --skip unosdk \
          --skip dotnetnewunotemplates --skip vsmac --skip androidsdk --skip openjdk --skip androidemulator \
          --tfm net10.0-browserwasm

      - run: |
          cd samples/Uno.Toolkit.Samples/Uno.Toolkit.Samples
          dotnet publish -c Release /p:SamplesTargetFrameworkOverride=net10.0-browserwasm "/p:PackageVersion=${{ steps.nbgv.outputs.SemVer2 }}" /p:DisableMobileTargets=true
      - uses: actions/upload-artifact@v4
        with:
          name: wasm-site
          path: ${{ env.DIST_PATH }}

      - name: Publish to Azure Static WebApps
        id: builddeploy_uno
        continue-on-error: true
        uses: Azure/static-web-apps-deploy@v0.0.1-preview
        with:
          skip_deploy_on_missing_secrets: true
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_STAGING }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_location: "${{ env.DIST_PATH }}" # App source code path
          api_location: "" # Api source code path - optional
          output_location: "" # Built app content directory - optional
          ###### End of Repository/Build Configurations ######

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v0.0.1-preview
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_STAGING }}
          action: "close"
